<a mat-button routerLink="/capabilities" style="">
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="capability && capability.name!=''">Specify capability: {{ capability.name }}</h2>
</section>

<app-attribute-selection [attributeSetId]="capability.attributeSet"
                         [attributeSelection]="capability.attributeSelection"
                         [persistService]="capabilityService"
                         [entityId]="capability.id"
                         *ngIf="capability"></app-attribute-selection>

