<section class="mat-typography">
  <h1>Categories</h1>
  <p>
    Categories are elements to group certain components. You can think of it as of layers in traditional layer
    architectures. Click a category to view or edit details
  </p>
</section>
<a mat-flat-button routerLink="/categories/new" color="primary">
  <mat-icon>add</mat-icon>
  Add new category
</a>
<div id="category-list" *ngIf="categories">
  <mat-spinner *ngIf="!categories"></mat-spinner>
  <p *ngIf="categories.length==0" class="muted">No categories defined yet</p>
  <mat-nav-list class="sort-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-list-item *ngFor="let category of categories" cdkDrag>
      <div class="sort-placeholder" *cdkDragPlaceholder></div>
      <h3 matLine>{{ category.name }}</h3>
      <p matLine class="muted" *ngIf="category.description">{{ category.description }}</p>
      <a mat-icon-button routerLink="/categories/{{ category.id }}">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button (click)="remove(category.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>

      <div class="sort-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>

    </mat-list-item>
  </mat-nav-list>

</div>
