<a mat-flat-button routerLink="/components" >
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="system && system.name==''">Add new system</h2>
  <h2 *ngIf="system && system.name!=''">Edit system: {{ system.name }}</h2>
</section>
<div class="form-wrap" *ngIf="system">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="system.name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Short description of this system ..." [(ngModel)]="system.description"></textarea>
  </mat-form-field>


  <mat-selection-list [(ngModel)]="system.categories" [compareWith]="categorySelected">
    <h3 matLine>Categories</h3>
    <mat-list-option *ngFor="let category of categories" [value]="category">
      {{category.name}}
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list [(ngModel)]="system.products" [compareWith]="categorySelected">
    <h3 matLine>Products</h3>
    <mat-list-option *ngFor="let product of products" [value]="product">
      {{product.name}}
    </mat-list-option>
  </mat-selection-list>


  <mat-selection-list [(ngModel)]="system.patterns" [compareWith]="patternSelected">
    <h3 matLine>Patterns</h3>
    <mat-list-option *ngFor="let pattern of patterns" [value]="pattern">
      {{pattern.name}}
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list [(ngModel)]="system.capabilities" [compareWith]="capabilitySelected">
    <h3 matLine>Patterns</h3>
    <mat-list-option *ngFor="let capability of capabilities" [value]="capability">
      {{capability.name}}
    </mat-list-option>
  </mat-selection-list>

  <button  mat-flat-button color="primary" (click)="save()">Save</button>

</div>
