<a mat-button routerLink="/components">
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="system && system.name==''">Add new system</h2>
  <h2 *ngIf="system && system.name!=''">Edit system: {{ system.name }}</h2>
</section>
<div class="form-wrap" *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name of the Category" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description of this category ..."
                formControlName="description"></textarea>
    </mat-form-field>

    <br>
    <mat-form-field appearance="standard">
      <mat-label>Capability Set</mat-label>
      <mat-select formControlName="attributeSet">
        <mat-option *ngFor="let attributeSet of attributeSets"
                    [value]="attributeSet.id">{{attributeSet.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="accent" type="submit" [disabled]="!form.valid">Save</button>

    <div *ngIf="configuration">

      <!-- CATEGORIES -->
      <mat-selection-list formControlName="categories">
        <h3 matHeader>Categories</h3>
        <mat-list-option *ngFor="let category of configuration.categories" [value]="category.id">
          {{ category.name }}
        </mat-list-option>
      </mat-selection-list>

      <!-- PRODUCTS -->
      <mat-selection-list formControlName="products">
        <h3 matHeader>Products</h3>
        <mat-list-option *ngFor="let product of configuration.products" [value]="product.id">
          {{ product.name }}
        </mat-list-option>
      </mat-selection-list>

      <!-- SUBSTITUTIONS -->
      <mat-selection-list formControlName="substitutions">
        <h3 matHeader>Substitutions</h3>
        <div *ngFor="let substitute of configuration.systems">
          <mat-list-option [value]="substitute.id" *ngIf="substitute.id !== system.id">
            {{ substitute.name }}
          </mat-list-option>
        </div>
      </mat-selection-list>

    </div>
  </form>
</div>

<!-- Patterns -->
<div *ngIf="configuration">
  <h3>Component is part of the following patterns</h3>
  <mat-selection-list [(ngModel)]="relatedPatters">
    <mat-list-option *ngFor="let pattern of configuration.patterns" [value]="pattern">
      {{ pattern.name }}
    </mat-list-option>
  </mat-selection-list>
</div>
