<a mat-button routerLink="/products">
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="product && product.name==''">Add new product</h2>
  <h2 *ngIf="product && product.name!=''">Edit product: {{ product.name }}</h2>
</section>
<div class="form-wrap" *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name of the Product" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description of this product ..."
                formControlName="description"></textarea>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</div>

<!-- Systems -->
<div *ngIf="configuration">
  <mat-selection-list [(ngModel)]="relatedSystems">
    <h3 matSubheader>Product can help to implement the following components</h3>
    <mat-list-option *ngFor="let system of configuration.systems" [value]="system">
      {{ system.name }}
    </mat-list-option>
  </mat-selection-list>
</div>
