<a mat-flat-button routerLink="/products" >
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="product && product.name==''">Add new product</h2>
  <h2 *ngIf="product && product.name!=''">Edit product: {{ product.name }}</h2>
</section>
<div class="form-wrap">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="product.name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Short description of this product ..." [(ngModel)]="product.description"></textarea>
  </mat-form-field>

  <mat-nav-list>
    <h3 matLine>Related components</h3>
    <a mat-list-item [routerLink]="'/components/' + system.id" *ngFor="let system of systems">
      {{ system.name }}
    </a>
  </mat-nav-list>
  <p *ngIf="systems.length === 0">No related components</p>

  <button  mat-flat-button color="primary" (click)="save()">Save</button>

</div>
