<div class="content-wrapper">
  <div class="content-wrapper-inner">
    <section class="mat-typography">

      <!-- EXPORT -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Export Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Export current configuration consisting out of components, patterns, products, categories and capabilites to JSON format</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button [href]="downloadJsonHref" download="export.json" color="primary" *ngIf="downloadJsonHref">
            <mat-icon  mat-list-icon>save_alt</mat-icon>
            Download current configuration
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- IMPORT -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Import Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Upload an existing configuration in JSON format</p>
          <input type="file">
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button (click)="upload()" color="primary">
            <mat-icon  mat-list-icon>save_alt</mat-icon>
            Upload configuration
          </button>
        </mat-card-actions>
      </mat-card>


      <!-- DANGER ZONE -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Danger Zone</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-flat-button color="warn" (click)="reset()">Reset Configuration</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>
