<div class="content-wrapper">
  <div class="content-wrapper-inner">
    <section class="mat-typography">

      <!-- EXPORT -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Export Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Export current configuration consisting out of components, patterns, products, categories and capabilites
            to JSON format</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button [href]="downloadJsonHref" download="archicap-configuration.json" color="accent"
             *ngIf="downloadJsonHref !== ''">
            <mat-icon mat-list-icon>save_alt</mat-icon>
            Download current configuration
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- IMPORT -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Import Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Upload an existing configuration in JSON format</p>
          <input type='file' (change)="uploadFileChanged($event)">
        </mat-card-content>
        <mat-card-actions>
          <mat-spinner *ngIf="uploading"></mat-spinner>
          <button mat-flat-button (click)="upload()" color="accent" *ngIf="!uploading"
                  [disabled]="!uploadFile || uploadFile === ''">
            <mat-icon mat-list-icon>cloud_upload</mat-icon>
            Upload configuration
          </button>
        </mat-card-actions>
      </mat-card>

      <!-- LOAD -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Load predefine Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Load one of the predefined configurations</p>
          <mat-form-field>
            <mat-select [(ngModel)]="predefinedConfiguration">
              <mat-option value="decentralized-analytics">Decentralized Analytics</mat-option>
              <mat-option value="data-lakes">Data Lakes</mat-option>
              <mat-option value="ai-machine-learning">AI and Machine Learning</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <mat-spinner *ngIf="loading"></mat-spinner>
          <button mat-flat-button (click)="loadConfiguration()" color="primary" *ngIf="!loading"
                  [disabled]="!predefinedConfiguration || predefinedConfiguration === ''">
            <mat-icon mat-list-icon>save_alt</mat-icon>
            Load configuration
          </button>
        </mat-card-actions>
      </mat-card>

      <!-- DANGER ZONE -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Danger Zone</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-flat-button color="warn" (click)="reset()">Reset Configuration</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>
