<div class="system-info general-wrapper" *ngIf="product">
  <div mat-dialog-actions class="close-top-right">
    <button mat-icon-button (click)="closePopover()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title>Product: {{ product.name}}</h1>
  <div mat-dialog-content>

    <div [innerHTML]="product.description"></div>


    <!-- COMPONENTS -->
    <mat-list *ngIf="relatedSystems">
      <h3>Products is used in these components:</h3>
      <p *ngIf="relatedSystems.length === 0">No items</p>
      <mat-list-item *ngFor="let system of relatedSystems">
        {{ system.name }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
