<div class="general-wrapper" *ngIf="configuration && profile">
  <div class="general-wrapper-inner">
    <section class="mat-typography">
      <h1>My Profile</h1>
      <p>This is your current selection that drives the architecture development process.</p>
    </section>

    <!-- CAPABILITIES -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon mat-list-icon>gavel</mat-icon>
          Capabilities that are relevant for me
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-selection-list [(ngModel)]="profile.capabilities" class="grow-list">
          <mat-list-option *ngFor="let capability of configuration.capabilities" [value]="capability.id">
            <mat-icon mat-list-icon (click)="showCapabilityInfo($event, capability)" color="primary">info</mat-icon>
            <b>{{capability.name}}</b> <span class="muted">{{ capability.description }}</span>
          </mat-list-option>
        </mat-selection-list>

      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="save()">Save</button>
      </mat-card-actions>
    </mat-card>

    <!-- SYSTEMS -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon mat-list-icon>filter_none</mat-icon>
          Components in my setup
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-selection-list [(ngModel)]="profile.systems" class="grow-list">
          <mat-list-option *ngFor="let system of configuration.systems" [value]="system.id">
            <mat-icon mat-list-icon (click)="showSystemInfo($event, system)" color="primary">info</mat-icon>
            <b>{{system.name}}</b> <span class="muted">{{system.description}}</span>
          </mat-list-option>
        </mat-selection-list>

      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="save()">Save</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon mat-list-icon>local_offer</mat-icon>
          Products in my landscape
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-selection-list [(ngModel)]="profile.products">
          <mat-list-option *ngFor="let product of configuration.products" [value]="product.id">
            <mat-icon mat-list-icon (click)="showProductInfo($event, product)" color="primary">info</mat-icon>
            {{product.name}}
          </mat-list-option>
        </mat-selection-list>

      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="save()">Save</button>
      </mat-card-actions>
    </mat-card>


    <!-- IMPORT EXPORT -->
    <div class="row">
      <div class="col-6">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon mat-list-icon>save_alt</mat-icon>
              Export Profile
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Export current profile consisting out of your capability and product landscape.</p>
          </mat-card-content>
          <mat-card-actions>
            <br/>
            <a mat-flat-button [href]="downloadJsonHref" download="archicap-profile.json" color="accent"
               *ngIf="downloadJsonHref">
              <mat-icon mat-list-icon>save_alt</mat-icon>
              Download
            </a>
          </mat-card-actions>
        </mat-card>

      </div>
      <div class="col-6">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon mat-list-icon>cloud_upload</mat-icon>
              Import Profile
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Upload an existing profile in JSON format</p>
            <input type='file' (change)="uploadFileChanged($event)">
          </mat-card-content>
          <mat-card-actions>
            <mat-spinner *ngIf="uploading"></mat-spinner>
            <button mat-flat-button (click)="upload()" color="accent" *ngIf="!uploading"
                    [disabled]="!uploadFile || uploadFile === ''">
              <mat-icon mat-list-icon>cloud_upload</mat-icon>
              Upload
            </button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>


  </div>
</div>
