<div class="system-info general-wrapper" *ngIf="capability">
  <div mat-dialog-actions class="close-top-right">
    <button mat-icon-button (click)="closePopover()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title>Capability: {{ capability.name}}</h1>
  <div mat-dialog-content>

    <div [innerHTML]="capability.description"></div>

    <div *ngIf="category"><b>Action:</b> {{ category.name }}</div>

    <app-attribute-selection [attributeSetId]="capability.attributeSet"
                             [attributeSelection]="capability.attributeSelection"
                             [entityId]="capability.id"
                             readonly="true"
                             *ngIf="capability"></app-attribute-selection>


    <!-- COMPONENTS -->
    <mat-list *ngIf="relatedPatterns">
      <h3>Capability is used in these patterns:</h3>
      <p *ngIf="relatedPatterns.length === 0">No items</p>
      <mat-list-item *ngFor="let pattern of relatedPatterns">
        <a mat-icon-button (click)="showPatternInfo($event, pattern)" color="primary">
          <mat-icon>info</mat-icon>
        </a>
        {{ pattern.name }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
