<a mat-button [routerLink]="returnLink" *ngIf="returnLink">
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="attributeSet && attributeSet.name==''">Add new attributeSet</h2>
  <h2 *ngIf="attributeSet && attributeSet.name!=''">Edit attributeSet: {{ attributeSet.name }}</h2>
</section>
<div *ngIf="form" class="form-wrap">
  <form [formGroup]="form" (ngSubmit)="save()">

    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name of attribute set" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Long description of this attributeSet ..."
                formControlName="description"></textarea>
    </mat-form-field>

    <button mat-flat-button color="accent" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</div>

<!-- ATTRIBUTES IN THIS SET -->
<h3>Attributes in this set</h3>
<div id="category-list" *ngIf="selectedAttributes">
  <mat-spinner *ngIf="!selectedAttributes"></mat-spinner>
  <p *ngIf="selectedAttributes.length==0" class="muted">No attributes selected yet</p>
  <mat-nav-list class="sort-list" cdkDropList (cdkDropListDropped)="dropAttribute($event)">
    <mat-list-item *ngFor="let attribute of selectedAttributes" cdkDrag>
      <div class="sort-placeholder" *cdkDragPlaceholder></div>
      <button mat-mini-fab (click)="deselectAttribute(attribute.id)" color="accent" slot="start">
        <mat-icon>remove</mat-icon>
      </button>
      <h3 matLine>{{ attribute.name }} ({{ attribute.values }})</h3>
      <p matLine class="muted" *ngIf="attribute.description">{{ attribute.description }}</p>
      <div matLine>
        <a mat-icon-button routerLink="attribute/{{ type }}/edit/{{ attribute.id }}">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="removeAttribute(attribute.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="sort-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>

<!-- AVAILABLE ATTRIBUTES -->
<h3>Available attributes</h3>
<mat-spinner *ngIf="!availableAttributes"></mat-spinner>
<div id="attribute-set-list" *ngIf="availableAttributes">
  <p *ngIf="availableAttributes.length==0" class="muted">No attributes available</p>
  <mat-nav-list>
    <mat-list-item *ngFor="let attribute of availableAttributes">
      <button mat-mini-fab (click)="selectAttribute(attribute.id)" color="accent" slot="start">
        <mat-icon>add</mat-icon>
      </button>
      <h3 matLine>{{ attribute.name }} ({{ attribute.values }})</h3>
      <p matLine class="muted" *ngIf="attribute.description">{{ attribute.description }}</p>
      <div matLine>
        <a mat-icon-button routerLink="/eav/attribute/{{type}}/edit/{{attribute.id}}">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="removeAttribute(attribute.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <a mat-flat-button routerLink="/eav/attribute/{{type}}/add" color="primary">
    <mat-icon>add</mat-icon>
    Create new Attribute
  </a>
</div>
