<div class="content-wrapper">
  <div class="content-wrapper-inner">
    <section class="mat-typography">
      <h1>About ArchiCap</h1>
      <p>This is a tool that supports building reasonable IT architectures. For this is facilitates capability-based
        thinking which helps to ensure business-oriented architecture decisions.</p>
      <p>The tool is part of an ongoing research project at the <a href="https://www.uni-stuttgart.de/en">University of
        Stuttgart</a> Department for <a href="https://www.bwi.uni-stuttgart.de/en/dept7/">Information Systems I</a></p>
      <p>It is published under <a href="https://choosealicense.com/licenses/mit">MIT license</a></p>
      <p>You can find the source code on Github: <a href="https://github.com/JEreth/archiCap">https://github.com/JEreth/archiCap</a>
      </p>
      <p>If you have any questions or notes please use the github page for interaction.</p>
      <p><small>Version: 2.0.1</small></p>
    </section>
  </div>
</div>
