<div class="pattern-info general-wrapper" *ngIf="pattern">
  <div mat-dialog-actions class="close-top-right">
    <button mat-icon-button (click)="closePopover()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title>Pattern: {{ pattern.name}}</h1>
  <div mat-dialog-content>

    <div [innerHTML]="pattern.description"></div>

    <div class="row">
      <div class="col-6">
        <h3>Technical Context</h3>
        <mat-card class="text-left">
          <mat-card-content>
            <app-attribute-selection [attributeSetId]="pattern.componentType"
                                     [attributeSelection]="pattern.componentSelection"
                                     [readonly]="true"
                                     [dense]="true"
                                     [skipValues]="['-']"></app-attribute-selection>
          </mat-card-content>
        </mat-card>

        <!-- SYSTEMS -->
        <h4>Based on:</h4>
        <mat-nav-list>
          <mat-list-item *ngFor="let system of relatedSystems">
            <h3 matLine>{{ system.name }}</h3>
            <button mat-button (click)="showSystemInfo($event, system)">
              <mat-icon mat-list-icon color="primary">info</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div class="col-6">
        <h3>Capability Context</h3>
        <mat-card class="text-left">
          <mat-card-content>
            <app-attribute-selection [attributeSetId]="pattern.capabilityType"
                                     [attributeSelection]="pattern.capabilitySelection"
                                     [readonly]="true"
                                     [dense]="true"
                                     [skipValues]="['-']"></app-attribute-selection>
          </mat-card-content>
        </mat-card>

        <!-- CAPABILITIES -->
        <h4>Based on:</h4>
        <mat-nav-list>
          <mat-list-item *ngFor="let capability of relatedCapabilities">
            <h3 matLine>{{ capability.name }}</h3>
            <button mat-button (click)="showCapabilityInfo($event, capability)">
              <mat-icon mat-list-icon color="primary">info</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

      </div>
    </div>

  </div>
</div>
