<mat-sidenav-container fullscreen>

  <mat-sidenav mode="side" #sidenav>

    <!-- SIDEBAR -->
    <mat-nav-list>
      <a mat-list-item href="/main/account" i18n>Wizard</a>
      <a mat-list-item href="/main/history" i18n>Management</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar id="globalToolbar" color="primary">

      <!--SIDEBAR TOGGLER -->
      <button mat-icon-button (click)="sidenav.toggle()" class="sidebar-btn">
        <mat-icon>menu</mat-icon>
      </button>


      <span class="spacer"></span>

      <img src="assets/logo_white.png" alt="ArchiCap" height="30px">

    </mat-toolbar>



    <!-- CONTENT -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

