<mat-sidenav-container fullscreen>

  <mat-sidenav mode="side" #sidenav [opened]="true">

    <img src="assets/logo_color.png" alt="ArchiCap" width="150px" class="sidebar-logo">

    <!-- SIDEBAR -->
    <mat-nav-list>
      <a mat-list-item routerLink="/wizard">
        <mat-icon  mat-list-icon>flash_on</mat-icon>
        Wizard
      </a>
      <a mat-list-item routerLink="/components">
        <mat-icon  mat-list-icon>filter_none</mat-icon>
        Components
      </a>
      <a mat-list-item routerLink="/patterns">
        <mat-icon  mat-list-icon>view_compact</mat-icon>
        Patterns
      </a>
      <a mat-list-item routerLink="/products">
        <mat-icon  mat-list-icon>more</mat-icon>
        Products
      </a>
      <a mat-list-item routerLink="/categories">
        <mat-icon  mat-list-icon>dehaze</mat-icon>
        Categories
      </a>
      <a mat-list-item routerLink="/capabilities">
        <mat-icon  mat-list-icon>gavel</mat-icon>
        Capabilities
      </a>
      <a mat-list-item routerLink="/configuration">
        <mat-icon  mat-list-icon>build</mat-icon>
        Configuration
      </a>
      <a mat-list-item routerLink="/about">
        <mat-icon  mat-list-icon>info</mat-icon>
        About
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar id="globalToolbar" color="primary">

      <!--SIDEBAR TOGGLER -->
      <button mat-icon-button (click)="sidenav.toggle()" class="sidebar-btn">
        <mat-icon>menu</mat-icon>
      </button>


      <span class="spacer"></span>

      <img src="assets/signee_white.png" alt="ArchiCap" height="30px">

    </mat-toolbar>



    <!-- CONTENT -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

