#category-box-wrap {
  display: flex;

  .category-box {
    margin: 5px;
    border: 1px solid #ccc;
    background: #efefef;
    padding: 15px;
    padding-top: 25px;
    position: relative;
    min-height: 100px;
    min-width: 100px;

    .category-box-title {
      position: absolute;
      top: 5px;
      left: 5px;
      text-align: left;
      font-weight: bold;
      font-size: 0.8rem
    }
  }

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;

    .category-box {
      flex-grow: 1;
      flex-basis: 0;

      .category-box-title {
        width: 100%;
        text-align: center;
      }
    }

    .system-box-wrap {
      display: block;

      .system-box {
        display: block;

        &.hidden {
          display: none !important;
        }
      }
    }

  }

  .system-box-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .system-box {
      margin: 5px;
      padding: 10px;
      border: 1px solid #666;
      background: #cccccc;
      cursor: pointer;

      &.highlighted {
        background: #3f51b5;
        color: white;
      }

      &.hidden {
        display: none !important;
      }
    }
  }
}

.mat-list-base[dense] .mat-list-item, .mat-list-base[dense] .mat-list-option {
  height: auto;
}

.mat-button-toggle-label-content {
  font-size: 1rem;
}
