<ng-container *ngIf="case">
  <a mat-button routerLink="/cases/edit/{{ case.id }}" style="">
    <mat-icon>arrow_back</mat-icon>
    Go back
  </a>
  <section class="mat-typography">
    <h2>Specify circumstance</h2>
  </section>

  <!-- FORM DESCRIPTION -->
  <div class="form-wrap" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description of this circumstance ..."
                  rows="8"
                  formControlName="description"></textarea>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit" [disabled]="!form.valid">Save</button>

      <!-- SELECT QUANTIFICATION MODEL -->
      <mat-form-field appearance="standard">
        <mat-label>Quantification Model</mat-label>
        <mat-select formControlName="attributeSet">
          <mat-option *ngFor="let attributeSet of attributeSets"
                      [value]="attributeSet.id">{{attributeSet.name}}</mat-option>
        </mat-select>
      </mat-form-field>


      <!-- SELECT CATEGORY -->
      <mat-form-field appearance="standard">
        <mat-label>Action</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of configuration.categories"
                      [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- SPECIFICATION -->
      <app-attribute-selection [attributeSetId]="case.circumstances[ix].attributeSet"
                               [attributeSelection]="case.circumstances[ix].attributeSelection"
                               *ngIf="ix !== null && case.circumstances[ix]" #attributeSelection></app-attribute-selection>

      <!-- RELATED CASE SYSTEMS -->
      <mat-selection-list formControlName="systems">
        <h3>Related Case Systems</h3>
        <mat-list-option *ngFor="let system of case.systems; let ix=index;" [value]="ix">
          {{ system.description }}
        </mat-list-option>
      </mat-selection-list>

      <button mat-flat-button color="accent" type="submit" [disabled]="!form.valid">Save</button>
    </form>
  </div>

</ng-container>
