<div class="system-info general-wrapper" *ngIf="system">
  <div mat-dialog-actions class="close-top-right">
    <button mat-icon-button (click)="closePopover()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title>Component: {{ system.name}}</h1>
  <div mat-dialog-content>

    <div [innerHTML]="system.description"></div>

    <app-attribute-selection [attributeSetId]="system.attributeSet"
                             [attributeSelection]="system.attributeSelection"
                             [entityId]="system.id"
                             [readonly]="true"
                             *ngIf="system"></app-attribute-selection>


    <!-- PRODUCTS -->
    <mat-list>
      <h3>Products to implement this component</h3>
      <p *ngIf="relatedProducts.length === 0">No items</p>
      <mat-list-item *ngFor="let product of relatedProducts">
        {{ product.name }}
      </mat-list-item>
    </mat-list>

    <!-- PATTERN -->
    <mat-list>
      <h3>This component is part of the following pattern</h3>
      <p *ngIf="relatedPatterns.length === 0">No items</p>
      <mat-list-item *ngFor="let pattern of relatedPatterns">
        <a mat-icon-button (click)="showPatternInfo($event, pattern)" color="primary">
          <mat-icon>info</mat-icon>
        </a>
        {{ pattern.name }}
      </mat-list-item>
    </mat-list>

    <!-- SUBSTITUTES -->
    <mat-list>
      <h3>This component can be replaced by these substitutes</h3>
      <p *ngIf="relatedSubstitutes.length === 0">No items</p>
      <mat-list-item *ngFor="let system of relatedSubstitutes">
        {{ system.name }}
      </mat-list-item>
    </mat-list>

  </div>
</div>
