<div class="general-wrapper" *ngIf="profile && configuration">
  <div class="general-wrapper-inner">
    <section class="mat-typography">

      <mat-horizontal-stepper labelPosition="bottom" #stepper>

        <mat-step>
          <ng-template matStepLabel>Introduction</ng-template>

          <mat-toolbar>
            <h1>
              Welcome to ArchiCap
            </h1>
            <span class="spacer"></span>
            <button mat-flat-button matStepperNext color="accent">
              Let's go
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </mat-toolbar>
          <p>This wizard helps you setting up your planing environment. More concrete, this software supports strategic
            IT architecture planning by linking business strategy and technology components via business
            capabilites.</p>
          <p>To get going you should first be aware that there are thee use cases that might be relevant for you:</p>
          <ol>
            <li><strong>Greenfield (Capability-First)</strong>
              <br/>You want to achieve some business capabilities and ask your self which
              components fit.
              <ul>
                <li>If this is the case you might only want to define your capabilities in Step 2 and use some of the
                  predefined components and patterns.
                </li>
              </ul>
            </li>
            <li><strong>Brownfield (System-First)</strong>
              <br/>You have a legacy IT landscape that you analyze in order to identify
              possible capabilities.
              <ul>
                <li>If this is the case you might only want to define your components in Step 3 and use some of the
                  predefined capabilities.
                </li>
              </ul>
            </li>
            <li><strong>Benchmark:</strong>
              <br/>You have a legacy IT landscape and some capabilities and want to check which
              components are relevant and which might be redundant.
              <ul>
                <li>If this is the case feel free to use any of the predefined elements and add you own if necessary.
                </li>
              </ul>
            </li>
          </ol>
          <p><strong>Notes:</strong></p>
          <p>If you are not sure what elements exists you can use the explore mode to check out the predefined
            elements.</p>
          <p>If you have not found an adequate set of predefined elements in the Import/Export section, please feel free
            to add your own elements and share them with the community.</p>

          <div class="text-center">
            <button mat-raised-button (click)="next(stepper)" color="accent">
              Let's go
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Capabilities</ng-template>

          <mat-toolbar>
            <h2>
              <mat-icon mat-list-icon>gavel</mat-icon>
              Select relevant Capabilities
            </h2>
            <span class="spacer"></span>
            <button mat-flat-button matStepperNext color="accent">Skip</button>
          </mat-toolbar>

          <p>Select capabilities that seems to be relevant for you in order to allow a capability-first analysis
            that represents the business side. If you want to analyze an existing legacy landscape you can skip this
            step.</p>


          <mat-selection-list [(ngModel)]="profile.capabilities">
            <mat-list-option *ngFor="let capability of configuration.capabilities" [value]="capability.id">
              {{capability.name}}
            </mat-list-option>
          </mat-selection-list>

          <div class="text-right">
            <button mat-mini-fab color="primary" routerLink="/capabilities/new">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div class="stepper-buttons">
            <button mat-raised-button (click)="back(stepper)">
              <mat-icon>keyboard_arrow_left</mat-icon>
              Back
            </button>
            <span class="spacer"></span>
            <button mat-raised-button (click)="next(stepper)" color="accent">
              Next
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>

        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Products</ng-template>

          <mat-toolbar>
            <h2>
              <mat-icon mat-list-icon>local_offer</mat-icon>
              Select relevant products
            </h2>
            <span class="spacer"></span>
            <button mat-flat-button matStepperNext color="accent">Skip</button>
          </mat-toolbar>

          <p>Select products that you have in your landscape or that you plan to integrate.
            If you want to only use the business perspective on a green field you can skip this step.</p>


          <mat-selection-list [(ngModel)]="profile.products">
            <mat-list-option *ngFor="let products of configuration.products" [value]="products.id">
              {{products.name}}
            </mat-list-option>
          </mat-selection-list>

          <div class="text-right">
            <button mat-mini-fab color="primary" routerLink="/products/new">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div class="stepper-buttons">
            <button mat-raised-button (click)="back(stepper)">
              <mat-icon>keyboard_arrow_left</mat-icon>
              Back
            </button>
            <span class="spacer"></span>
            <button mat-raised-button (click)="next(stepper)" color="accent">
              Next
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>

        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Components</ng-template>


          <mat-toolbar>
            <h2>
              <mat-icon mat-list-icon>filter_none</mat-icon>
              Select relevant Components
            </h2>
            <span class="spacer"></span>
            <button mat-flat-button matStepperNext color="accent">Skip</button>
          </mat-toolbar>

          <p>Components are abstract construction elements that are implemented by certain products.
            If you feel confident about the concept, you can select the components directly.
            If not, you can also preselect components by the products you selected in the last step.
            If you only want to find adequate components to your capabilities you can skip this
            step.</p>

          <button mat-flat-button (click)="suggestComponents()" color="primary">Suggest components by products</button>

          <mat-selection-list [(ngModel)]="profile.systems">
            <mat-list-option *ngFor="let system of configuration.systems" [value]="system.id">
              {{system.name}}
            </mat-list-option>
          </mat-selection-list>

          <div class="text-right">
            <button mat-mini-fab color="primary" routerLink="/components/new">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div class="stepper-buttons">
            <button mat-raised-button (click)="back(stepper)">
              <mat-icon>keyboard_arrow_left</mat-icon>
              Back
            </button>
            <span class="spacer"></span>
            <button mat-raised-button (click)="next(stepper)" color="accent">
              Next
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Take off</ng-template>

          <mat-toolbar>
            <h1>
              You are all set
            </h1>
          </mat-toolbar>
          <p>Your selection was saved and you can start exploring your architectural possibilities. You can always
            adjust your settings in your profile on the left.</p>

          <div class="text-center">
            <button mat-raised-button color="accent" routerLink="/stage">
              Start analyzing your stage
              <mat-icon>widgets</mat-icon>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </section>
  </div>
</div>
