<section class="mat-typography">
  <h1>Capabilities</h1>
  <p>
    Capabilities are summaries of business-oriented things that you organization is or want to be capable of. Click a
    capability to view or edit details
  </p>
</section>
<a mat-flat-button routerLink="/capabilities/new" color="primary">
  <mat-icon>add</mat-icon>
  Add new capability
</a>
<div id="capability-list" *ngIf="capabilities">
  <mat-spinner *ngIf="!capabilities"></mat-spinner>
  <p *ngIf="capabilities.length==0" class="muted">No capabilities defined yet</p>
  <mat-nav-list>
    <mat-list-item *ngFor="let capability of capabilities">
      <h3 matLine>{{ capability.name }}</h3>
      <p matLine class="muted" *ngIf="capability.description">{{ capability.description }}</p>
      <a mat-icon-button routerLink="/capabilities/{{ capability.id }}">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button (click)="remove(capability.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>

<section class="mat-typography">
  <h1>Capability Sets</h1>
  <p>
    Define the structure of capabilities
  </p>
</section>

<app-attributeset-list type="capability" returnLink="/capabilities"></app-attributeset-list>
