<a mat-button routerLink="/patterns">
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2 *ngIf="pattern && pattern.name==''">Add new pattern</h2>
  <h2 *ngIf="pattern && pattern.name!=''">Edit pattern: {{ pattern.name }}</h2>
</section>
<div class="form-wrap" *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name of the Pattern" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description of this pattern ..."
                formControlName="description"></textarea>
    </mat-form-field>

    <!-- TECHNICAL CONTEXT -->
    <mat-form-field appearance="standard">
      <mat-label>Component Type</mat-label>
      <mat-select formControlName="componentType">
        <mat-option *ngFor="let componentType of componentTypes"
                    [value]="componentType.id">{{componentType.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- CAPABILITY CONTEXT -->
    <mat-form-field appearance="standard">
      <mat-label>Capability Type</mat-label>
      <mat-select formControlName="capabilityType">
        <mat-option *ngFor="let capabilityType of capabilityTypes"
                    [value]="capabilityType.id">{{capabilityType.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="configuration">
      <!-- SYSTEMS -->
      <mat-selection-list formControlName="systems">
        <h3 matHeader>Systems</h3>
        <mat-list-option *ngFor="let system of configuration.systems" [value]="system.id">
          {{ system.name }}
        </mat-list-option>
      </mat-selection-list>

      <!-- CAPABILITIES -->
      <mat-selection-list formControlName="capabilities">
        <h3 matHeader>Capabilities</h3>
        <mat-list-option *ngFor="let capability of configuration.capabilities" [value]="capability.id">
          {{ capability.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <button mat-flat-button color="accent" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</div>
