.row {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.grey-block {
  display: inline-block;
  background: #eaeaea;
  border: #666 1px solid;
  padding: 5px;
  margin: 5px;
}
