<section class="mat-typography">
  <h1>Components</h1>
  <p>
    Components are individual abstract bricks that fulfill a certain task in an architecture. Click a component to view
    or edit details
  </p>
</section>
<a mat-flat-button routerLink="/components/add" color="primary">
  <mat-icon>add</mat-icon>
  Add new component
</a>
<div id="system-list" *ngIf="systems">
  <mat-spinner *ngIf="!systems"></mat-spinner>
  <p *ngIf="systems.length==0" class="muted">No systems defined yet</p>
  <mat-nav-list>
    <mat-list-item *ngFor="let system of systems">
      <h3 matLine>{{ system.name }}</h3>
      <p matLine class="muted" *ngIf="system.description">{{ system.description }}</p>
      <a mat-icon-button routerLink="/components/find-relation/{{ system.id }}">
        <mat-icon>insert_link</mat-icon>
      </a>
      <a mat-icon-button routerLink="/components/specify/{{ system.id }}" *ngIf="system.attributeSet">
        <mat-icon>tune</mat-icon>
      </a>
      <a mat-icon-button routerLink="/components/edit/{{ system.id }}">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button (click)="remove(system.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>

<section class="mat-typography">
  <h1>Component Types</h1>
  <p>
    Define the structure of certain component types
  </p>
</section>

<app-attributeset-list type="component" returnLink="/components"></app-attributeset-list>
