@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif
}
.spacer {
  flex: 1 1 auto;
}
.sidebar-logo {
  margin: 20px 15px;
}
.sidebar-btn {
  background-color:transparent;
  color: #fff;
  border: 0 none;
}
.content-wrapper {
  padding: 20px 70px 0;
  display: block;
  .content-wrapper-inner {
    display: flex;
    align-items: flex-start;
    text-align: left;
    max-width: 940px;
    margin: 0 auto;
  }
}
.tab-icon {
  margin-right: 5px;
}
.muted {
  color: #666;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  input, textarea {
    width: 100%;
  }
}
