@import "grid";

body {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif
}

.stepper-buttons {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.sidebar-logo {
  margin: 20px 15px;
}

.sidebar-btn {
  background-color: transparent;
  color: #fff;
  border: 0 none;
}

.content-wrapper, .general-wrapper, .content-full-wrapper {
  padding: 20px 70px 0;
  display: block;
  text-align: center;

  .content-wrapper-inner, .general-wrapper-inner, .content-full-wrapper-inner {
    display: block;
    text-align: left;
    max-width: 940px;
    margin: 0 auto;
  }

  .content-full-wrapper-inner {
    max-width: 1280px;
  }

  .content-wrapper-inner {
    display: flex;
    align-items: flex-start;
  }
}

.tab-icon {
  margin-right: 5px;
}

.muted {
  color: #666;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  width: 100%;

  input, textarea, mat-form-field {
    display: block;
    width: 100%;
  }
}

.system-info {
  width: 750px;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.close-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mat-button-toggle-label-content {
  font-size: 0.8rem;
}


// LIST STYLE
.content-wrapper mat-list-item, .general-wrapper mat-list-item, .cdk-drag-preview, .styled-list mat-list-item {
  background: white;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
  }
}

.content-wrapper, .general-wrapper {
  position: relative;

  mat-nav-list {
    max-width: 100%;
    min-height: 60px;
    display: block;
    overflow: hidden;

    &.sort-list {
      mat-list-item {
        padding-left: 35px;
      }
    }

  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  mat-nav-list .cdk-drop-list-dragging mat-list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .sort-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .sort-handle {
    position: absolute;
    top: 20px;
    left: -20px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }
}
