.specification-block {
  margin-top: 25px;
  margin-bottom: 25px;

  .specification-row {
    background: white;
    border: solid 1px #ccc;
    margin-bottom: 5px;
    padding: 20px 10px;

    .lbl-col {
      display: inline-block;
      width: 25%;
      font-weight: bold;
    }

    .selection-col {
      display: inline-block;
      width: 75%;

      .mat-button-toggle, .mat-button-toggle-group {
        width: 100%;
      }

      .mat-button-toggle-checked {
        background-color: #3f51b5;
        color: #fff;
      }
    }
  }
}
