<a mat-flat-button routerLink="/capabilities" >
  <mat-icon>arrow_back</mat-icon>
  Go back
</a>
<section class="mat-typography">
  <h2>Add new capability</h2>
  <h2 *ngIf="capability && capability.id">Edit capability {{ capability.name }}</h2>
</section>
<div class="form-wrap">
  <mat-form-field>
    <input matInput placeholder="Short formulation" [(ngModel)]="capability.name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Long description of this capability ..." [(ngModel)]="capability.description"></textarea>
  </mat-form-field>

  <mat-nav-list>
    <h3 matLine>Related components</h3>
    <a mat-list-item [routerLink]="'/components/' + system.id" *ngFor="let system of systems">
      {{ system.name }}
    </a>
  </mat-nav-list>
  <p *ngIf="systems.length === 0">No related components</p>

  <button  mat-flat-button color="primary" (click)="save()">Save</button>

</div>
