<ng-container *ngIf="case">
  <a mat-button routerLink="/cases/edit/{{ case.id }}">
    <mat-icon>arrow_back</mat-icon>
    Go back
  </a>
  <section class="mat-typography">
    <h2>Compare circumstances in this case</h2>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ case.circumstances[ix].description }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-attribute-selection [attributeSetId]="case.circumstances[ix].attributeSet"
                               [attributeSelection]="case.circumstances[ix].attributeSelection"
                                [readonly]="true"></app-attribute-selection>
    </mat-expansion-panel>
  </section>

  <div id="circumstance-list" *ngIf="results">
    <h2>Result</h2>
    <p *ngIf="results.length === 0" class="muted">No other circumstances to compare</p>

    <ng-container *ngIf="results.length > 0">
      <mat-expansion-panel *ngFor="let result of results" style="margin-bottom: 10px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{result.similarity}}%</b>
          </mat-panel-title>
          <mat-panel-description>
            {{ result.circumstance.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-attribute-selection [attributeSetId]="result.circumstance.attributeSet"
                                 [attributeSelection]="result.circumstance.attributeSelection"
                                 [readonly]="true"></app-attribute-selection>
      </mat-expansion-panel>
    </ng-container>
  </div>



</ng-container>
